.jumbotron {
    background:radial-gradient( circle, rgba(0, 0, 0, -0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1) ), url(Images/jumbo.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-bottom: 0;
}

